@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #001220;
    display: flex;
    position: relative;
    overflow: hidden;
}

.gato-banner{
    right: 0;
    position: absolute;
    top: 50;
    transform: translateY(12%);
    min-height: 80vh;
    max-width: 700px;
    border-radius: 10% 0 0 10%;
}

.svgblob{
    position: absolute;
    max-height: 100vh;
    left: 0;
}

.home-info{
    height: 100vh;
    position: relative;
    width: 80vw;
}

.home-info h1{
    width: 410px;
    font-size: 3.5rem;
    margin-top: 30vh;
}

.home-info p{
    width: 400px;
    font-size: 1.5rem;
    margin-top: 2%;
}

.home-info p{
    transform: translateX(45%);
}

.home-info h1{
    transform: translateX(60%);
}

.home-info h1 span{
    color: white;
}