@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(242, 227, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.form-login{
    transform: translateY(50%);

}

.form-cadastro{
    transform: translateY(25%);
}

.form-login, .form-cadastro{
    opacity: 0;
    transition: 1s ease;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 2px rgb(211, 211, 211);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 340px;
    border: 2px solid rebeccapurple;
    border-radius: 5%;
    padding: 20px;
}

.form-login form, .form-cadastro form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.form-login form input, .form-cadastro form input, select, option{
    height: 40px;
    border-radius: 10px;
    background-color: aliceblue;
    outline: none;
    border: 1px transparent;
    padding: 5px;
}

.login-text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 3px solid black;
}

.svgwave1{
    position: fixed;
    transform: translateY(40%);
}

.botao-submit{
    background-color: rgb(143, 84, 202) !important;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    transition: 0.2s ease;
    font-weight: 500;
}

.botao-submit:hover{
    background-color: rebeccapurple !important;
}

.form-cadastro{
    height: 550px !important;
}

.cadastro-text{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 3px solid black;

}

a{
    text-decoration: none;
    font-size: 1.2rem !important;
    color: rebeccapurple;
    font-weight: 500;
}

.blob-background{
    position: absolute;
    width: 700px;
    height: 700px;
    z-index: -1;
    user-select: none;
}

/* .blob-background img{
    position: absolute;
    width: 700px;
    height: auto;
    min-width: auto;
    min-height: auto;
    object-fit: contain;
} */

.blob1{
    animation: girar 15s linear infinite;
    transform-origin: center center;
}

.blob2{
    animation: girar 20s linear infinite reverse;
    transform-origin: center center;
    z-index: -2;
}


/* isso aqui é extramamente mal otimizado */
@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}